.header {
  width: 100%;
  height: 5vh;
  background-color: #f8f9fa;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header nav ul {
  list-style: none;
  display: flex;
  margin-right: 40px;
}

.header nav ul li {
  margin: 20px;
}

.navigation li a:hover {
  color: #007bff;
}

.active {
  text-decoration: none;
  color: #cf7878;
  font-weight: bold;
}

.static {
  text-decoration: none;
  color: #163f6b;
  font-weight: bold;
}
