.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading img {
  width: 100px;
  height: 100px;
}

.card {
  /* min-width: 600px;
  max-width: 600px; */
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 100px; */
  /* background-color: #bdb6b7; */
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
}

.card_description {
  width: 100%;
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.card_description p {
  margin: 8px 0;
  font-size: 0.95em;
  color: #333;
}

.img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* p {
  font-size: 1em;
  color: #333;
  margin: 5px 0;
} */

.deleteBtn {
  color: #ff4d4d;

  border: none;
  padding: 10px;
  border-radius: 50%;
  /* color: #fff; */
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  float: right;
}

.deleteBtn:hover {
  background-color: #bdb6b7;
}

